<div class="container mt-4" style="min-height: 700px;">
    <div class="row">
        <div class="col-md-12 mt-2">
            <h4>Uploads Your Documents : <span class="badge badge-dark"><%= type %></span></h4>
            <form action="" method="post" enctype="multipart/form-data">
            <div class="card mt-5">
                <div class="card-body">
                    <div class="form-group">
                        <label>File Name</label>
                        <input type="text" name="name" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>Select File</label>
                        <input type="file" name="file" class="form-control"/>
                        <p class="text-danger">
                            <%= message %>
                        </p>
                    </div>
                </div>
                <div class="card-footer">
                    <input type="submit" value="Upload" class="btn btn-primary" />
                </div>
            </div>
            </form>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-5">
            
            <table class="table table-dark table-hover table-bordered">
                <tr>
                    <th>S.No.</th>
                    <th>File Name</th>
                    <th>Files</th>
                    <th>Share</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <% result.forEach(function(x, n){ %>
                    <tr>
                        <td><%= n+1 %></td>
                        <td><%= x.name %></td>
                        <td><a download href="/<%= type %>/<%= x.filename %>">Download</a></td>
                        <td><a href="/share/<%= x._id %>"><i class="fa fa-share" aria-hidden="true"></i></a></td>
                        <td><a href="/file/edit/<%= x._id %>/<%= type %>" class="btn btn-sm btn-info">Edit</a></td>
                        <td><a href="/file/delete/<%= x._id %>/<%= type %>" class="btn btn-sm btn-danger">Delete</a></td>
                    </tr>
                <% }) %>
            </table>
        </div>
    </div>
</div>


<!--
    for, while, do...while, forEach 

    var result = [
        {

        },
        {

        },
        {

        }
    ];

    arr.forEach(function(x, n){


    })



 -->